// Home default
// --------------
// Notes:
// - Uses `.uncss-` prefix class to ignore classes by `grunt-uncss` task in `build` mode.

// Some imports
@import '../../helpers/variables';
@import '../../vendors/utilities';

/// Animation
///
///

.loader-i{
    width: 200px;
    margin-top: 8%!important;
}

.loader-t{
    font-size: 24px;;text-align: center;
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  margin-top: 7%;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #9A1255;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// sprite
//

.sprite {
    background-image: url(img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-a {
    width: 89px;
    height: 89px;
    background-position: -5px -5px;
}

.sprite-a-1 {
    width: 89px;
    height: 89px;
    background-position: -104px -5px;
}

.sprite-a-1_ {
    width: 89px;
    height: 89px;
    background-position: -203px -5px;
}

.sprite-a_ {
    width: 89px;
    height: 89px;
    background-position: -5px -104px;
}

.sprite-fb {
    width: 158px;
    height: 37px;
    background-position: -104px -104px;
}

.sprite-ico-mail {
    width: 20px;
    height: 16px;
    background-position: -302px -5px;
}

.sprite-ico-phone {
    width: 19px;
    height: 17px;
    background-position: -332px -5px;
}

.sprite-ico-user {
    width: 17px;
    height: 17px;
    background-position: -302px -32px;
}

.sprite-icon-dni {
    width: 18px;
    height: 12px;
    background-position: -329px -32px;
}

.sprite-n {
    width: 89px;
    height: 89px;
    background-position: -272px -104px;
}

.sprite-n_ {
    width: 89px;
    height: 89px;
    background-position: -5px -203px;
}

.sprite-s {
    width: 89px;
    height: 89px;
    background-position: -104px -203px;
}

.sprite-s_ {
    width: 89px;
    height: 89px;
    background-position: -203px -203px;
}

.sprite-santa-cata {
    width: 178px;
    height: 124px;
    background-position: -371px -5px;
}

.sprite-t {
    width: 89px;
    height: 89px;
    background-position: -371px -139px;
}

.sprite-t_ {
    width: 89px;
    height: 89px;
    background-position: -302px -238px;
}


h1{
    font-family: 'brandon_textbold';
    font-size: 34px;
}

h2{
    font-family: 'brandon_textbold';
    font-size: 44px;
}

h3{
    font-family: 'brandon_textbold';
    font-size: 24px;
}


// ALINEADORES
//
.ui-center{
    text-align:center;
    margin:auto;
    display:block;
}

.space-top{
    padding-top: 4em;
}

header{
    max-width: 950px;
    margin: auto;
    height: 144px;
    padding-top: 22px;
    position: relative;
    z-index: 99999;

    .sprite-santa-cata{
            margin-left:2em;
            position: absolute;
    }

    .link-b-y-p{
        position: absolute;
        right: 4px;

        a{
            margin: 1em 3em;
        }
    }
}

#logo-r-t-c{
    margin:auto;
    display:block;
}

#img-p{
    margin: -45px auto auto auto;
    display: block;
    width: 93%;
    position: relative;
}

.form-control{
    margin-bottom: 1em;
}

.f-full{
    margin: 0.5em auto;

}
.form-control-mini{
    width: 60%;
    margin: auto;
    float: none;
}


.container{
    max-width: 728px;
    margin: -24px auto auto auto;
    position: relative;
    z-index: 9999;

     #layer-m{
        list-style: none;
        margin: auto auto 3em auto;

        li{
            font-family: 'brandon_textlight';
            font-size:25px;
            text-align:center;
            display:none;

            p{
                line-height: 22px;

                b{
                 }
            }
        }

        li:first-child {
            display:block;
        }
     }
 }


 .letters-board{

    margin-top: 1.6em;
        li{
            display:inline-block;
        }
 }

.addletters{
    padding: 1em 0em;
}

 .border{
    border: solid 6px #fff;
 }

.border_bottom{
    border-bottom: solid 3px #fff;
    padding-bottom: 2em;
}

.terminos {
  padding: 30px;
}


// Include parts
@import 'mobile';
@import 'medium';
@import 'large';
@import 'print';

