// Outdated browser prompt
// -----------------------

.uncss-outdatedbrowser {
  background: #ddd;
  color: #000;
  font-size: 12px;
  left: 0;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 7;
}

