// Variables
// ---------

// Default Colors
$gray: #7f8c8d !default;
$blue: #2c82c9 !default;
$midnight-blue: darken($blue, 20%) !default;
$dark-blue: darken($blue, 50%) !default;

// Font colors
$font-color: $gray !default;
$font-heading-color: $midnight-blue !default;
