// Typography
// ----------
@font-face {
    font-family: 'DINNextLTProRegular';
    src: url('../fonts/DINNextLTProRegular.eot');
    src: url('../fonts/DINNextLTProRegular.eot') format('embedded-opentype'),
         url('../fonts/DINNextLTProRegular.woff2') format('woff2'),
         url('../fonts/DINNextLTProRegular.woff') format('woff'),
         url('../fonts/DINNextLTProRegular.ttf') format('truetype'),
         url('../fonts/DINNextLTProRegular.svg#DINNextLTProRegular') format('svg');
}